/* 通配 */
/* 背景色 #efefef */
/* rgb(247, 68, 68) */
body{
  background: #efefef;
  margin: 0;
  padding: 0;
}
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}

.icon {
  width: 30px; height: 30px;
  vertical-align: -0.15em;
  fill: #fff;
  overflow: hidden;
  vertical-align: top;
}

.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
section > h2{
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
/* 页面初始化加载 */
.loading{
  width: 200px;
  height: 200px;
  position: relative;
}
.loading::after,.loading::before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  background: black;
  border-radius: 50%;
  animation: loading 1.5s linear infinite;
}
.loading::after{
  animation-delay: 0.75s;
}
@keyframes loading{
  0%{
    width: 0px;height: 0px;opacity:1;
  }
  100%{
    width: 30px;height: 30px;opacity:0;
  }
}
.site-welcome{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #888;
  z-index: 1;
  justify-content: center;
  align-items: center;
}
.site-welcome.active{
  display: flex;
}

@keyframes menuSlide{
  0%{
    width:0;
  }
  100%{
   width:100%;
  }
}

/* 顶部栏 */
.banner{
  background: url(./img/bg.jpg) no-repeat;
  background-size: cover;
  height: 515px;
}
.banner > .mask{
  background: rgba(0,0,0,0.5);
  height: 515px;
}
.topNavBar {
  position: fixed;
  top: 0;
  padding: 20px 0;
  width: 100%;
  transition: all 0.5s;
  z-index: 1;
  color: rgba(150,150,150,0.9);
}
.topNavBar.sticky{
  background: white;
  padding: 10px 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  color: #3d4451;
}
.topNavBar .logo {
  float: left;
  font-family: "Hiragino Kaku Gothic Std";
  font-size: 22px;
  padding-top: 1px;
}
.topNavBar .logo .rs-style{
  color: #e6686a;
  margin-right: 4px;
  padding-left: 10px
}
.topNavBar .logo .card-sytle{
  color: #9A9DA2;
}
.topNavBar nav {
  font-size: 13px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.topNavBar nav span{
  cursor: pointer;
  color: inherit;
  font-weight: bold;
  position: relative;
  animation: All 2s;
}
.topNavBar nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.topNavBar nav ul>li{
  float: left;
  margin-left: 17px; 
  margin-right: 17px;
}
.topNavBar nav ul>li>span:hover::after{
  content: '';
  display: block;
  position: absolute;
  top:100%;
  left: 0;
  width: 100%;
  background: #DC6465;
  height: 3px;
  animation: menuSlide 0.3s;
}

/* 主体内容 */
/*personal information  */
main .card {
  max-width: 940px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 7px 18px -1px rgba(36,35,36,0.6);
}
.card > .pictureAndText{
  padding: 35px;
}
.card > .pictureAndText > .picture {
  width: 299px;
  height: 347px;
  margin-left: 30px;
  position: relative;
  float: left;
}
.card > .pictureAndText > .text{
  width: 470px;
  margin-left: 40px;
  position: relative;
  float: left;
}
.card > .pictureAndText  .welcome{
  display: inline-block;
  background:rgb(230,104,107);
  color: #fff;
  padding: 4px 8px;
}
.card > .pictureAndText .triangle{
  width: 0;
  height: 0;  
  border-top: 0px solid transparent;
  border-left: 12px solid rgb(230,104,107);
  border-bottom: 12px solid transparent;
  position: relative;
  top:0px;
  left:5px;
}
.card .profile h1{
  margin-top: 12px;
}
.card .profile p{
  margin-bottom: 15px;
}

.card .profile dl{
  margin-top: 15px;
  clear: left;
}
.card .profile dt,
.card .profile dd{
  float: left;
  padding: 5px 0;
}
.card .profile dt{
  font-weight: bold;
  width: 30%;
}
.card .profile dd{
  color: rgba(0,0,0,0.4);
  width: 70%;
}
.card .media{
  background-color: rgb(230,104,106);
  text-align: center;
}
.card .media a{
  display: inline-block;
  width: 40px;
  line-height: 30px;
  padding: 5px 0;
  border-radius: 50%;
  margin: 16px;
}
.card .media a:hover{
  background: #CF5D5F;
}

/* 按钮 */
.button{
  color: #666;
  display: inline-block;
  border: 1px solid #bbb;
  padding: 10px;
  margin: 40px auto;
  background-color: #efefef;
  border-radius: 15px;
  font-family: sans-serif;
}
.button:hover{
  color: #666;
  display: inline-block;
  border: 1px solid #bbb;
  padding: 10px;
  margin: 40px auto;
  background-color: #efefef;
  border-radius: 15px;
  font-family: sans-serif;
  box-shadow: 0px 2px 5px -1px rgba(55,55,55,0.4);
}

/* aboutMe */
#aboutMe{
  line-height: 25px;
  text-align: center;
  max-width: 940px;
  margin: auto;
  font-family: sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* 技能 */
.sectionSkill{
  width: 800px;
  margin: auto;
  transform: translateY(70px);
  transition: all 1s;
}
.sectionSkill.recover{
  transform: translateY(0px);
}
.section-title{
  margin-top: 60px;
  text-align: center;
  color: #3d4451;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 20px;
}
.sectionSkill > ol{
  background-color: #fff;
  border: 1px solid rgba(55,55,55,0.25);
  padding: 15px 40px 20px 30px;
  box-shadow: 0px 2px 5px -1px rgba(55,55,55,0.4);
}
.sectionSkill > ol > li{
  margin-top: 10px;
  float: left;
  width: 50%;
  padding-left:20px;
  box-sizing: border-box;
}
.porficencyOutside{
  height: 5px;
  background-color: #FAE1E1;
  width: 100%;
}
.proficency{
  height: 3px;
  background-color: rgb(247, 68, 68);
  border: 1px solid rgb(247, 68, 68);
  border-radius: 4px;
}

/* 作品 */
.project{
  text-align: center;
  transform: translateY(70px);
  transition: all 1s;
}
.project.recover{
  transform: translateY(0);
}
.project-box{
  margin-top: 100px;
}
.fakeHr{
  border-top: 1px solid #9A9DA2;
  width: 700px;
  margin: 70px auto;
}
/* 画板项目 */
.project-canvas{
  display: flex;
  justify-content: center;
}

.project-canvas > .project-picture{
  display: flex;
  justify-content: center;
}
.project-canvas > .project-picture > img{
  height: 238px;
  width: 480px;
}
.project-canvas > .project-info{
  margin-left: 10px;
  font-family: sans-serif;
  font-weight: 700;
}
.project-canvas > .project-info > p{
  font-family: sans-serif;
  font-size: 15px;
  color: #3d4451;
  line-height: 40px;
  width: 300px;
  margin-bottom: 5px;
  text-align: left;
}
.project-canvas > .project-info > a{
  color: #666;
  display: inline-block;
  border: 1px solid #bbb;
  background-color: #efefef;
  padding: 5px 10px;
  border-radius: 10px;
}
.project-canvas > .project-info > a:hover{
  color: #666;
  border: 1px solid #bbb;
  background-color: #efefef;
  display:inline-block;
  padding: 5px 10px;
  box-shadow: 0px 2px 5px -1px rgba(55,55,55,0.4);
}
.project-canvas > .project-info > .tips{
  font-family: sans-serif;
  font-size: 13px;
  color: #999;
  text-align: center;
}
/* 键盘项目 */
.project-keyboard{
  display: flex;
  justify-content: center;
}

.project-keyboard > .project-picture{
  display: flex;
  justify-content: center;
}
.project-keyboard > .project-picture > img{
  height: 238px;
  width: 480px;
}
.project-keyboard > .project-info{
  margin-left: 10px;
  font-family: sans-serif;
  font-weight: 700;
}
.project-keyboard > .project-info > p{
  font-family: sans-serif;
  font-size: 15px;
  color: #3d4451;
  line-height: 40px;
  width: 300px;
  margin-bottom: 5px;
  text-align: left;
}
.project-keyboard > .project-info > a{
  color: #666;
  display: inline-block;
  border: 1px solid #bbb;
  background-color: #efefef;
  padding: 5px 10px;
  border-radius: 10px;
}
.project-keyboard > .project-info > a:hover{
  color: #666;
  border: 1px solid #bbb;
  background-color: #efefef;
  display:inline-block;
  padding: 5px 10px;
  box-shadow: 0px 2px 5px -1px rgba(55,55,55,0.4);
}
/* 网易云项目 */
.project-music{
  display: flex;
  justify-content: center;
}
.project-music > .project-picture{
  display: flex;
}
.project-music > .project-picture > img{
  height: 459px;
  width: 260px;
  
}
.project-music > .project-info{
  margin: 0 35px;
  font-family: sans-serif;
  font-weight: 700;
}
.project-music > .project-info > p{
  font-family: sans-serif;
  font-size: 15px;
  color: #3d4451;
  line-height: 40px;
  width: 200px;
  margin-bottom: 5px;
  text-align: left;
}
.project-music > .project-info > a{
  color: #666;
  display: inline-block;
  border: 1px solid #bbb;
  background-color: #efefef;
  padding: 5px 10px;
  border-radius: 10px;
}
.project-music > .project-info > a:hover{
  color: #666;
  border: 1px solid #bbb;
  background-color: #efefef;
  display:inline-block;
  padding: 5px 10px;
  box-shadow: 0px 2px 5px -1px rgba(55,55,55,0.4);
}
.project-music > .project-info > .tips{
  font-family: sans-serif;
  font-size: 13px;
  color: #999;
  text-align: center;
}


/* 生活 */
#live{
  text-align: center;
}
/* 红色滑动条 */
.portfolio{
  margin: 0 auto;
  margin-bottom: 20px;
  display: inline-block;
  vertical-align:top;
}
.portfolio > ol{
  margin: 0 auto;
}
.portfolio > ol > li{
  float: left;
  margin-left: 18px;
  padding: 0 10px;
  cursor: pointer;
  font-family: sans-serif;
  color: #555;
  font-weight: 600;
  text-shadow: 2px 2px 4px #888;
}
.portfolio > ol> li:nth-child(1){
  margin-left: 0;
}
.portfolio > .progressBar{
  margin-top: 5px;
  background-color: white;
  height: 5px;

}
.portfolio > .progressBar > .progessBarInner{
  height: 100%;
  background-color: rgb(247, 68, 68);
  border-radius: 5px;
  width: 25%;
  transition: all 0.2s;
}
.portfolio > .progressBar > .progessBarInner.state-1{
  width: 25%;
  margin-left: 0;
}
.portfolio > .progressBar > .progessBarInner.state-2{
  width: 25%;
  margin-left: 30%;
}
.portfolio > .progressBar > .progessBarInner.state-3{
  width: 38%;
  margin-left: 62%;
}
/* 生活图片 */
.lp-box{
  margin: 0 auto;
  width: 834px;
  overflow: hidden;
  font-size: 0;
}
.live-picture-inside.changePicture0{
  margin: 0 auto;
  height: 400px;
  display: flex;
  float: left;
  transform: translateX(0px);
  transition: all 0.5s;
}
.live-picture-inside.changePicture1{
  margin: 0 auto;
  height: 400px;
  display: flex;
  float: left;
  transform: translateX(-834px);
  transition: all 0.5s;
}
.live-picture-inside.changePicture2{
  margin: 0 auto;
  height: 400px;
  display: flex;
  float: left;
  transform: translateX(-1668px);
  transition: all 0.5s;
}
.live-picture-inside > .lp-1,
.live-picture-inside > .lp-2,
.live-picture-inside > .lp-3{
  display: flex;
  float: left;
  height: 400px;
  width: 834px;
}
.live-picture-inside  .lp-1-left{
  font-size: 0;
  width: 534px;
}
.live-picture-inside  .lp-1-left > img{
  width: 534px;
  height: 400px;
}
.live-picture-inside  .lp-1-right{
  font-size: 0;
  width: 300px;
}
.live-picture-inside  .lp-1-right > img{
  width: 150px;
  height: 200px;
}
.live-picture-inside  .lp-2-left{
  font-size: 0;
  width: 534px;
}
.live-picture-inside  .lp-2-left > img{
  width: 534px;
  height: 400px;
}
.live-picture-inside  .lp-2-right{
  font-size: 0;
  width: 300px;
}
.live-picture-inside  .lp-2-right > img{
  width: 150px;
  height: 200px;
}
.live-picture-inside  .lp-3-left{
  font-size: 0;
  width: 534px;
}
.live-picture-inside  .lp-3-left > img{
  width: 534px;
  height: 400px;
}
.live-picture-inside  .lp-3-right{
  font-size: 0;
  width: 300px;
}
.live-picture-inside  .lp-3-right > img{
  width: 150px;
  height: 200px;
}

/* 底部 */
#bottomBar{
  position: relative;
  padding-top: 30px;
  margin-top: 50px;
  width: 100%;
  background-color:rgb(230,104,106);
  text-align: center;
  /* border-bottom: 20px solid rgb(238, 43, 43); */
}
#bottomBar > .myName{
  font-family: sans-serif;
  font-weight: 800;
  color: rgba(255,255,255,0.9);
}
#bottomBar > .personalInfo{
  justify-content: center;
  margin-left: 25%;
  margin-top: 15px;
  width: 50%;
}
#bottomBar > .personalInfo > p:nth-child(odd){
  display: inline;
  color: rgba(255,255,255,0.9);
  font-weight: 600;
  font-size: 14px;
  line-height: 40px;
}
#bottomBar > .personalInfo > p:nth-child(even){
  display: inline;
  color: rgba(255,255,255,0.7);
  font-weight: 600;
  font-size: 14px;
  line-height: 40px;
}
#bottomBar > .otherLink{
  margin: 20px auto;
}
#bottomBar > .statement{
  background-color: rgba(141, 15, 10, 0.233);
  font-size: 12px;
  line-height: 20px;
}